{% extends 'base.html.twig' %}

{% block title %}>Modification d'article
{% endblock %}


{% block body %}
	<br>
	<a href={{path("app_magasin")}} class="btn btn-warning">Magasin</a>
	<br>
	<h1>Modifier l'article
	</h1>

	{{ form_start(form) }}

	{{ include ('magasin/form.html.twig') }}

	<button class="btn btn-success">Modifier</button>

	{{ form_end(form) }}
{% endblock %}
